@use '../../src/Core/Theme';
@use '../../src/Components/SPHButton';
@use '../../src/Components/SPHCard';
@use '../../src/Components/SPHSnackbar';
@use '../../src/Components/SPHTextField';
@use '../../src/Components/SPHTooltip';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

//
// This $theme variable will serve as the :root equivalent, using this instead of regular CSS variables
// gives us access to a more extensive color manipulation using built in sass functions/modules.
//

$theme: (
    primary: (
        'light': #9c4dcc,
        'default': #6a1b9a,
        'dark': #38006b,
        'ink': #fff,
        'elevation': #000
    ),
    secondary: (
        'light': #ffba55,
        'default': #ffa300,
        'dark': #935f00,
        'ink': #000,
        'elevation': #000
    )
);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background: #0f0021;
}

section {
    height: 100%;
    display: grid;
    place-items: center;
    grid-gap: 10px;
    padding: 1rem 0;
}

.content-wrap {
    width: calc(100% - 20px);
    max-width: 1077px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 420px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 620px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 850px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Components with active $theme parameter
@include SPHButton.use(Theme.pick(secondary, $theme));
@include SPHCard.use(Theme.pick(primary, $theme));
@include SPHTextField.use(Theme.pick(primary, $theme));

// Components with dead $theme parameter
@include SPHSnackbar.use();
@include SPHTooltip.use();
