@use '../../src/SPHCore/Theme';
@use '../../src/SPHCore/Elevation';

@use '../../src/components/SPHReset';

// @use '../../src/components/SPHAppbar';
@use '../../src/SPHButton';
// @use '../../src/components/SPHCard';
// @use '../../src/components/SPHHeader';
// @use '../../src/components/SPHNavbar';
// @use '../../src/components/SPHSnackbar';
// @use '../../src/components/SPHTextField';

// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*@include Theme.config(
    $primary: #474747,
    $secondary: #7ed957
);*/

@include SPHReset.use();

* {
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: #181818;
}

section {
    height: 100%;
    display: grid;
    place-items: center;
    grid-gap: 10px;
    padding: 1rem 0;
}

.content-wrap {
    width: calc(100% - 20px);
    max-width: 1077px;
    margin: 0 auto;
    padding: 67px 0 0 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 420px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 620px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 850px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

//
// Tweaking variables listed for documentation.
//

/*@include SPHAppbar.use() {
    // --sph-appbar-fill
    // --sph-appbar-ink
    // --sph-appbar-radius

    // --sph-appbar-icon-ink
    // --sph-appbar-label-ink
    // --sph-appbar-hover-ink
    // --sph-appbar-active-ink
};*/

@include SPHButton.use();
/*{
    // --sph-button-fill
    // --sph-button-ink
    // --sph-button-radius
    // --sph-button-border

    // --sph-button-active-fill
    // --sph-button-active-border
    // --sph-button-disabled-fill
    // --sph-button-disabled-border
}*/

/*@include SPHCard.use() {
    // --sph-card-fill
    // --sph-card-ink
    // --sph-card-radius
};

@include SPHHeader.use() {
    // --sph-header-fill
    // --sph-header-ink
    // --sph-header-radius
};

@include SPHNavbar.use() {
    // --sph-navbar-fill
    // --sph-navbar-ink
    // --sph-navbar-radius
};

@include SPHSnackbar.use() {
    // --sph-snackbar-fill
    // --sph-snackbar-ink
    // --sph-snackbar-radius
};

@include SPHTextField.use() {
    // --sph-text-field-fill
    // --sph-text-field-ink
    // --sph-text-field-radius

    // --sph-text-field-on-focus
    // --sph-text-field-label-ink
    // --sph-text-field-helper-ink
    // --sph-text-field-ink
};*/

#buttons {
    display: flex !important;
    flex-flow: row wrap !important;
}
