@use '../../src/Core/Theme';
@use '../../src/Components/SPHButton';
@use '../../src/Components/SPHCard';
@use '../../src/Components/SPHHeader';
@use '../../src/Components/SPHSnackbar';
@use '../../src/Components/SPHTextField';
@use '../../src/Components/SPHTooltip';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

//
// This $theme variable will serve as the :root equivalent, using this instead of regular CSS variables
// gives us access to a more extensive color manipulation using built in sass functions/modules.
//

$theme: (
    primary: (
        'light': #6f6f6f,
        'default': #474747,
        'dark': #212121,
        'ink': #fff,
        'elevation': #000
    ),
    secondary: (
        'light': #bdff9f,
        'default': #7ed957,
        'dark': #488630,
        'ink': #000,
        'elevation': #000
    )
);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    height: 100vh;
    background: #181818;
}

section {
    height: 100%;
    display: grid;
    place-items: center;
    grid-gap: 10px;
    padding: 1rem 0;
}

.content-wrap {
    width: calc(100% - 20px);
    max-width: 1077px;
    margin: 0 auto;
    padding: 67px 0 0 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 420px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 620px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 850px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

#buttons {
    display: flex !important;
    flex-flow: row wrap !important;
}

// Components with active $theme parameter
@include SPHButton.use(Theme.pick(secondary, $theme));
@include SPHCard.use(Theme.pick(primary, $theme));
@include SPHTextField.use(Theme.pick(primary, $theme));
@include SPHHeader.use(Theme.pick(primary, $theme));

// Components with dead $theme parameter
@include SPHSnackbar.use();
@include SPHTooltip.use();
