/*@include Theme.config(
    $primary: #474747,
    $secondary: #7ed957
);*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}
*::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: #181818;
}

section {
  height: 100%;
  display: grid;
  place-items: center;
  grid-gap: 10px;
  padding: 1rem 0;
}

.content-wrap {
  width: calc(100% - 20px);
  max-width: 1077px;
  margin: 0 auto;
  padding: 67px 0 0 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 420px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 620px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 850px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*@include SPHAppbar.use() {
    // --sph-appbar-fill
    // --sph-appbar-ink
    // --sph-appbar-radius

    // --sph-appbar-icon-ink
    // --sph-appbar-label-ink
    // --sph-appbar-hover-ink
    // --sph-appbar-active-ink
};*/
.sph-button {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.5rem 0.7rem;
  border-radius: var(--sph-button-radius, 0.3rem);
  border: 1px solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  color: var(--sph-button-fill, #7ed957);
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease;
  outline: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.sph-button:focus {
  border-color: rgba(196, 196, 196, 0.5);
}
.sph-button:active {
  color: var(--sph-button-active-fill, #a4ed85);
}
.sph-button:disabled, .sph-button--disabled {
  color: var(--sph-button-disabled-fill, #407c25);
  cursor: default;
}
.sph-button:disabled:hover, .sph-button--disabled:hover {
  background: rgba(0, 0, 0, 0);
}
.sph-button > * + * {
  margin-left: 5px;
}
.sph-button .sph-button__icon {
  color: var(--sph-button-icon-ink, inherit);
  font-size: var(--sph-button-icon-size, 1.125rem);
}
.sph-button .sph-button__label {
  color: var(--sph-button-ink, inherit);
  font-weight: var(--sph-button-label-weight, 700);
  font-size: var(--sph-button-size, 0.875rem);
}
.sph-button.sph-button--outlined {
  border-color: #535353;
}
.sph-button.sph-button--outlined:hover, .sph-button.sph-button--outlined:focus {
  border-color: var(--sph-button-fill, #7ed957);
}
.sph-button.sph-button--outlined:active {
  border-color: var(--sph-button-active-fill, #a4ed85);
}
.sph-button.sph-button--outlined:disabled, .sph-button.sph-button--outlined--disabled {
  border-color: #363636;
  cursor: default;
}
.sph-button.sph-button--filled {
  border-color: var(--sph-button-fill, #7ed957);
  background-color: var(--sph-button-fill, #7ed957);
  color: var(--sph-button-ink, #000);
}
.sph-button.sph-button--filled:hover, .sph-button.sph-button--filled:focus {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.sph-button.sph-button--filled:active {
  background-color: var(--sph-button-active-fill, #a4ed85);
  border-color: var(--sph-button-active-fill, #a4ed85);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.sph-button.sph-button--filled:disabled, .sph-button.sph-button--filled--disabled {
  background-color: var(--sph-button-disabled-fill, #407c25);
  border-color: var(--sph-button-disabled-fill, #407c25);
  cursor: default;
}
.sph-button.sph-button--filled:disabled:hover, .sph-button.sph-button--filled--disabled:hover {
  background: var(--sph-button-disabled-fill, #407c25);
  box-shadow: none;
}

/*{
    // --sph-button-fill
    // --sph-button-ink
    // --sph-button-radius
    // --sph-button-border

    // --sph-button-active-fill
    // --sph-button-active-border
    // --sph-button-disabled-fill
    // --sph-button-disabled-border
}*/
/*@include SPHCard.use() {
    // --sph-card-fill
    // --sph-card-ink
    // --sph-card-radius
};

@include SPHHeader.use() {
    // --sph-header-fill
    // --sph-header-ink
    // --sph-header-radius
};

@include SPHNavbar.use() {
    // --sph-navbar-fill
    // --sph-navbar-ink
    // --sph-navbar-radius
};

@include SPHSnackbar.use() {
    // --sph-snackbar-fill
    // --sph-snackbar-ink
    // --sph-snackbar-radius
};

@include SPHTextField.use() {
    // --sph-text-field-fill
    // --sph-text-field-ink
    // --sph-text-field-radius

    // --sph-text-field-on-focus
    // --sph-text-field-label-ink
    // --sph-text-field-helper-ink
    // --sph-text-field-ink
};*/
#buttons {
  display: flex !important;
  flex-flow: row wrap !important;
}

/*# sourceMappingURL=main.css.map */
