@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --sph-theme--primary-light: #737373;
  --sph-theme--primary: #474747;
  --sph-theme--primary-dark: #1c1c1c;
  --sph-theme--secondary-light: #b5e99f;
  --sph-theme--secondary: #7ed957;
  --sph-theme--secondary-dark: #51b128;
  --sph-theme--on-primary: #fff;
  --sph-theme--on-secondary: #000;
  --sph-theme--small-radius: 0.3rem;
  --sph-theme--medium-radius: 0.5rem;
  --sph-theme--large-radius: 0.7rem;
  --sph-theme--elevation: #000;
}

.sph-button {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.5rem 0.7rem;
  border-radius: var(--sph-theme--small-radius);
  border: 1px solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  color: var(--sph-theme--secondary);
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease;
  outline: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.sph-button:focus {
  border-color: rgba(196, 196, 196, 0.5);
}
.sph-button:active {
  color: var(--sph-theme--secondary-light);
}
.sph-button:disabled {
  color: var(--sph-theme--secondary-dark);
  cursor: default;
}
.sph-button:disabled:hover {
  background: rgba(0, 0, 0, 0);
}
.sph-button > * + * {
  margin-left: 5px;
}
.sph-button .sph-button__icon {
  color: inherit;
  font-size: 1.125rem;
}
.sph-button .sph-button__label {
  color: inherit;
  font-weight: 700;
  font-size: 0.875rem;
}
.sph-button.sph-button--outlined {
  border-color: #535353;
}
.sph-button.sph-button--outlined:focus {
  border-color: var(--sph-theme--secondary);
}
.sph-button.sph-button--outlined:disabled {
  border-color: #363636;
  cursor: default;
}
.sph-button.sph-button--filled {
  border-color: var(--sph-theme--secondary);
  background-color: var(--sph-theme--secondary);
  color: var(--sph-theme--on-secondary);
}
.sph-button.sph-button--filled:hover, .sph-button.sph-button--filled:focus {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.sph-button.sph-button--filled:active {
  background-color: var(--sph-theme--secondary-light);
  border-color: var(--sph-theme--secondary-light);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}
.sph-button.sph-button--filled:disabled {
  background-color: var(--sph-theme--secondary-dark);
  border-color: var(--sph-theme--secondary-dark);
  cursor: default;
}
.sph-button.sph-button--filled:disabled:hover {
  background: var(--sph-theme--secondary-dark);
  box-shadow: none;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--sph-theme--primary-dark);
}

section {
  height: 100%;
  display: grid;
  place-items: center;
  grid-gap: 10px;
  padding: 1rem 0;
}

.content-wrap {
  width: calc(100% - 20px);
  max-width: 1077px;
  margin: 0 auto;
  padding: 67px 0 0 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 420px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 620px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 850px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

#buttons {
  display: flex !important;
  flex-flow: row wrap !important;
}

/*# sourceMappingURL=main.css.map */
